html
  head
    title='PS FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Projet Kubernetes 3CARCTIC Realisee par Houcem Mahmoud
        p Test Deploiment Esprit !
        p 
          a.btn.btn-primary(href="https://esprit-tn.com/espcsonline/online/default.aspx") Espace Etudiant
          
          a.btn.btn-outline-primary(href="https://sites.google.com/esprit.tn/tic-gc-em-cs/home") Verifier votre emploi du temps
